<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :who %><br />
    <%= f.text_field :who %>
  </div>
  <div class="field">
    <%= f.label :what %><br />
    <%= f.text_field :what %>
  </div>
  <div class="field">
    <%= f.label :tell_me_more %><br />
    <%= f.text_area :tell_me_more %>
  </div>
  <div class="field">
    <%= f.label :when %><br />
    <%= f.datetime_select :when %>
  </div>
  <div class="field">
    <%= f.label :cool %><br />
    <%= f.check_box :cool %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
